.wb-file-reveal {
  position: relative;
  flex: none;
  height: 32px;
}
.wb-file-reveal .open-app-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
@media (pointer: coarse) {
  .wb-file-reveal {
    height: 44px;
  }
}
